<!doctype html>

<html lang="en">

<head>

<!-- Required meta tags -->

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="Style.css">
<title>Using Bootstrap | Analyze 12</title>

</head>

<body>

  

<!-- Bootstrap Navigation bar -->

<nav class="navbar navbar-expand-sm navbar-light">

<a class="navbar-brand" href="/">
    <div class="logo-image">
            <img src="image2.png" class="img-fluid">
    </div>
</a>

<!-- Hamburger menu -->

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

<span class="navbar-toggler-icon"></span>

</button>

  

<!-- Nav links -->

<div class="collapse navbar-collapse" id="navbarResponsive">

<ul class="navbar-nav">

<li class="nav-item">

<a class="nav-link text-primary" href="/featuredVehicles">Home</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/newcar">New Inventory</a>

</li>
<!----CLASS ADDED---->
<li class="nav-item">

<a class="nav-link text-primary" href="/usedcar">Used Inventory</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/dealerSpecials">Specials</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/contactMessager">Contact</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/salePage">Sales</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/adminPage">Admin</a>

</li>

</ul>

</div>

</nav>

<!-- Quick Search Filter Bar -->

<div>
    <div>
        <h2>Admin</h2>
        <a href="#" th:href="@{/adminAddANewVehicle}"><button type="submit" class="btn btn-primary">Add a new Vehicle</button></a>
    </div>
    
    <div class="row15">
        <div class="column" style="background-color:#FFFFFF;">
            <div class="form-group">
                <label>Quick Search</label>
                <input class="col-8 form-control" type="text" id="storeName" name="name" placeholder="Enter make, model, or year"/>
            </div>
        </div>
        <div class="column" style="background-color:#FFFFFF;">
            <div class="form-group">
                <label>Price</label>
                <div>
                    <select>
                        <option value="" disabled selected>No Min</option>
                        <option value="hurr">Durr</option>
                    </select>
                    <select>
                        <option value="" disabled selected>No Max</option>
                        <option value="hurr">Durr</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column" style="background-color:#FFFFFF;">
            <div class="form-group">
                <label>Year</label>
                <div>
                    <select>
                        <option value="" disabled selected>No Min</option>
                        <option value="hurr">Durr</option>
                    </select>
                    <select>
                        <option value="" disabled selected>No Max</option>
                        <option value="hurr">Durr</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>




<!-- Main Content Area -->
<div class="container">

    <div class="row">
        <h2>Search Results</h2>
    </div>

    <div class="container5">
        
        <div class="row16">
            <div class="column" style="background-color:#FFFFFF;">  
                <div th:each="Vehicle : ${adminPage}">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Year}">Year</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.make.make}">Make</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.model.model}">Model</h6>
                        <h5 class="card-title">
                            <div class="logo-image">
                                <img th:src="${Vehicle.Photo}" class="img-fluid">
                            </div>
                        </h5>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.BodyStyle}">BodyStyle</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Transmission}">Transmission</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Color}">Color</h6>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Interior}">Interior</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Mileage}">Mileage</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.vin}">VIN</h6>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.salePrice}">SalePrice</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.msrp}">MSRP</h6>
                    </div>
                    <a href="#" th:href="@{/adminEditAVehicle}"><button type="submit" class="btn btn-primary">Edit</button></a> 
                </div> 
            </div>
        </div>

    </div>

</div>

    




<!-- Footer -->
<!--removed jumbotron-fluid text-center-->
<footer class=" bg-primary p-3">

<div class="container text-white">

<p>&copy; Copyright 2022. All Rights Reserved.</p>

<p>Webpage Created by: Aabharan Koppal </p>

</div>

  

</footer>

  

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
