<!doctype html>

<html lang="en">

<head>

<!-- Required meta tags -->

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="Style.css">
<title>Using Bootstrap | Analyze 12</title>

</head>

<body>

  

<!-- Bootstrap Navigation bar -->

<nav class="navbar navbar-expand-sm navbar-light">

<a class="navbar-brand" href="/">
    <div class="logo-image">
            <img src="image2.png" class="img-fluid">
    </div>
</a>

<!-- Hamburger menu -->

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

<span class="navbar-toggler-icon"></span>

</button>

  

<!-- Nav links -->

<div class="collapse navbar-collapse" id="navbarResponsive">

<ul class="navbar-nav">

<li class="nav-item">

<a class="nav-link text-primary" href="/featuredVehicles">Home</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/newcar">New Inventory</a>

</li>
<!----CLASS ADDED---->
<li class="nav-item">

<a class="nav-link text-primary" href="/usedcar">Used Inventory</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/dealerSpecials">Specials</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/contactMessager">Contact</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/salePage">Sales</a>

</li>

<li class="nav-item">

<a class="nav-link text-primary" href="/adminPage">Admin</a>

</li>

</ul>

</div>

</nav>

<!-- Main Content Area -->

<div class="container">

    <div class="row">
        <h2>Purchase Vehicle</h2>
    </div>

    <div class="container5">
        
        <div class="row16">
            <div class="column" style="background-color:#FFFFFF;">
                <div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.year}">Year</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.make.make}">Make</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.model.model}">Model</h6>
                        <h5 class="card-title">
                            <div class="logo-image">
                                <img th:src="${Vehicle.Photo}" class="img-fluid">
                            </div>
                        </h5>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.BodyStyle}">BodyStyle</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Transmission}">Transmission</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Color}">Color</h6>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Interior}">Interior</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Mileage}">Mileage</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.vin}">VIN</h6>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.salePrice}">SalePrice</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.msrp}">MSRP</h6>
                    </div>
                    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${Vehicle.Description}">Description</h6>
                    </div>
                    
                </div> 
            </div>
            
        </div>

    </div>

</div>



<div class="container">

    <div class="row19">
        <h2>Sales Information</h2>
    </div>

    <div class="col-4">
        <form action="/contactMessager" method="POST" class="form">
            <div class="form-group">
                <label class="col-4" for="storeName">Name</label>
                <input class="col-8 form-control" type="text" id="name" name="name"/>
                <span>
                    <label class="col-4" for="storeName">Phone</label>
                    <input class="col-8 form-control" type="text" id="phone" name="phone"/>
                </span>
            </div>
            <div class="form-group">
                <label class="col-4" for="storeLocation">Email</label>
                <input class="col-8 form-control" type="text" id="email" name="email"/>
            </div>
            <div class="form-group">
                <label class="col-4" for="storeManager">Street 1</label>
                <input class="col-8 form-control" type="text" id="street1" name="street1"/>
                <span>
                    <label class="col-4" for="storeName">Street 2</label>
                    <input class="col-8 form-control" type="text" id="street2" name="street2"/>
                </span>
            </div>
            <div class="form-group">
                <label class="col-4" for="storeName">City</label>
                <input class="col-8 form-control" type="text" id="city" name="city"/>
                <span>
                    <label class="col-4" for="storeName">State</label>
                    <select>
                        <option value="" disabled selected>AK</option>
                        <option value="AK">AK</option>
                    </select>
                </span>
            </div>
            <div class="form-group">
                <label class="col-4" for="storeLocation">Zipcode</label>
                <input class="col-8 form-control" type="text" id="zipcode" name="zipcode"/>
            </div>
            <div class="form-group">
                <label class="col-4" for="storeLocation">Purchase Price</label>
                <input class="col-8 form-control" type="text" id="purchaseprice" name="purchaseprice"/>
                <span>
                    <label class="col-4" for="storeName">Purchase Type</label>
                    <select>
                        <option value="" disabled selected>Dealer Finance</option>
                        <option value="DF">Dealer Finance</option>
                        <option value="Cash">Cash</option> 
                        <option value="BF">Bank Finance</option>
                    </select>
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>



<!-- Footer -->
<!--removed jumbotron-fluid text-center-->
<footer class=" bg-primary p-3">

<div class="container text-white">

<p>&copy; Copyright 2022. All Rights Reserved.</p>

<p>Webpage Created by: Aabharan Koppal </p>

</div>

  

</footer>

  

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>